* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background: var(--white);
}

h1 {
  font-size: 5.5em;
}

h2 {
  font-size: 4.18em;
}

h3 {
  font-size: 1.6em;
}

p {
  font-size: 1.6em;
  color: var(--gray);
  line-height: 1.6em;
}

span {
  font-size: 1.6em;
}

button {
  font-size: 1.6em;
}

a {
  text-decoration: none;
}

:root {
  /* colors */
  --black: #262626;
  --blue: #0078aa;
  --light-blue: #3ab4f2;
  --yellow: #f2df3a;
  --white: #f6f6f6;
  --gray: #3c4b51;

  /* tipography */
  --secondary-font: "Ubuntu", sans-serif;
  --number-tipography: "Roboto Mono", monospace;
}

/* ////////////////////////////////HEADER////////////////////////////// */

/* Header */
.headerContainer {
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(60, 75, 81);
  background: linear-gradient(
    180deg,
    rgba(60, 75, 81, 0.8281512434075192) 0%,
    rgba(246, 246, 246, 1) 77%
  );
}

/* navigation container */
.headerContainer .navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 85%;
  z-index: 5;
  background: var(--blue);
  border-radius: 10em 0em 10em 10em;
}

/* logo */
.headerContainer .navContainer img {
  width: 7em;
  height: 7em;
}

/* menu links */
.headerContainer .navContainer .linksContainer a {
  margin-left: 2em;
  color: var(--yellow);
  font-weight: 500;
  letter-spacing: 0.15em;
}

/* menu links:hover */
.headerContainer .navContainer .linksContainer a:hover,
.headerContainer .navContainer .linksContainer a:active {
  color: var(--white);
}

/* phone icon */
.headerContainer .navContainer .linksContainer a svg {
  height: 1.5em;
  fill: var(--white);
  translate: 0em 0.15em;
  opacity: 70%;
}

/* phone number */
.headerContainer .navContainer .linksContainer .phoneNumber {
  font-family: var(--number-tipography);
  font-weight: 300;
  color: var(--white);
  margin-right: 2em;
}

/* hero container */
.headerContainer .heroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0em 10em 0em 10em;
  width: 100%;
}

/* title */
.headerContainer .heroContainer .textHeroContainer h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  letter-spacing: 0.01em;
  font-weight: 700;
  margin-bottom: 0.2em;
  color: var(--black);
}

/* img hero container */
.headerContainer .heroContainer .imageHero {
  position: relative;
}

/* img woman smiling */
.headerContainer .heroContainer .imageHero img {
  width: 56em;
  height: 50em;
  object-fit: cover;
}

/* bar container */
.headerContainer .barContainer {
  translate: 0em -1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* all bar sections */
.headerContainer .barContainer .barSectionA,
.headerContainer .barContainer .barSectionB,
.headerContainer .barContainer .barSectionC {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0em 5.5em;
  height: 7em;
  box-shadow: 0px 47px 45px -6px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 47px 45px -6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 47px 45px -6px rgba(0, 0, 0, 0.27);
}

/* bar section A */
.headerContainer .barContainer .barSectionA {
  background: var(--blue);
  border-radius: 10em 0em 0em 0em;
  border-right: 1px dotted var(--white);
}

/* bar section B */
.headerContainer .barContainer .barSectionB {
  background: var(--blue);
  border-right: 1px dotted var(--white);
}

/* bar section C */
.headerContainer .barContainer .barSectionC {
  background: var(--blue);
  border-radius: 0% 10em 10em 0%;
}

/* bar section images */
.headerContainer .barContainer .barSectionA img,
.headerContainer .barContainer .barSectionB img,
.headerContainer .barContainer .barSectionC img {
  max-width: 5em;
  max-height: 5em;
  margin-right: 1em;
  filter: invert();
}

/* bar section A text */
.headerContainer .barContainer .textBarContainer {
  color: var(--white);
}

/* ////////////////////////////////WHO WE ARE////////////////////////////// */

/* section container */
.whoAreSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25em 10em;
  height: 70vh;
}

/* images container */
.whoAreSection .imagesWhoAreSection {
  display: flex;
  flex-direction: column;
}

/* two images */
.whoAreSection .imagesWhoAreSection img {
  object-fit: cover;
  margin: 0em 2em 2em 0em;
}

/* image A */
.whoAreSection .imagesWhoAreSection :first-child {
  width: 55em;
  height: 25em;
  border-radius: 150em 100em 100em 0em;
}

/* image B */
.whoAreSection .imagesWhoAreSection :last-child {
  width: 40em;
  height: 20em;
  border-radius: 100em 0em 150em 100em;
  align-self: flex-end;
}

/* info container */
.whoAreSection .infoWhoAreSection {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* text container */
/* .whoAreSection .infoWhoAreSection .textWhoAreSection h2 {
  background: #0078aa;
} */

/* text h2 */
.whoAreSection .infoWhoAreSection .textWhoAreSection h2 {
  color: var(--black);
}

.whoAreSection .infoWhoAreSection .textWhoAreSection p {
  margin: 1em 0em;
}

/* phone and button container */
.whoAreSection .infoWhoAreSection .contactWhoAreSection {
  align-self: center;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* phone icon */
.whoAreSection .infoWhoAreSection .contactWhoAreSection .iconPhone {
  height: 1.5em;
  fill: var(--blue);
  translate: 0em 0.15em;
  opacity: 70%;
}

/* phone number */
.whoAreSection .infoWhoAreSection .contactWhoAreSection span {
  font-family: var(--number-tipography);
  font-weight: 300;
  color: var(--blue);
  margin-right: 2em;
}

/* button */
.whoAreSection .infoWhoAreSection .contactWhoAreSection button {
  border: 0.1em solid var(--blue);
  width: 12em;
  height: 3.5em;
  margin-right: 1em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5em;
  color: var(--white);
  background: var(--blue);
}

/* whatsapp icon */
.whoAreSection .infoWhoAreSection .contactWhoAreSection .whatsappIcon {
  fill: #25d366;
  margin-left: 0.5em;
  translate: 0em 0em;
  display: none;
}

.whoAreSection .infoWhoAreSection .contactWhoAreSection button:hover {
  background: var(--white);
  color: var(--black);
  border: 0.1em solid var(--black);
}
